#header{
  background-color:#8C1F1D;  
}


h1,h4{
font-family:Georgia;
color:#FCFBCE;
text-align: center;
padding: 20px;
}

h1{
    font-size: 60px;
}

h4{
    font-size: 20px
}

h3{
color:#8C1F1D;
text-align: center;
    padding:20px;
}

h5{
    background-color:#112430;
    padding-top: 300px;
    padding-bottom: 30px;
    Color:#FCFBCE;
    text-align:center;
    font-size: 17px;
    font-family:'Kaushan Script', cursive;
    background-image:image()
    
}

#container{
    font-size: 12px;
}



